.root {
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 15px 8px 40px;
    width: 350px;
    border-radius: 10px;
    font-size: 16px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.icon {
    width: 24px;
    height: 24px;
    opacity: 0.7;
    position: absolute;
    top: 8px;
    left: 10px;
}

.clearIcon {
    width: 25px;
    height: 25px;
    opacity: 0.5;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

}